*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraform.tfstate
*terraform.tfstate.backup

*.azure

pycache/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env

.vscode/

Thumbs.db
Desktop.ini